<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<title>{{ page.title }} - connectical.com</title>

<link type="text/css" media="screen" rel="stylesheet" href="/styles/main.css" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
<script src="/scripts/tipsy.js" type="text/javascript"></script>
<script type="text/javascript">$(function(){ $('.icon, acronym').tipsy({'gravity':'s','fade':true}); });</script>
{% block htmlhead %}{% endblock %}
</head>
<body>
	{% macro menulink(name, href, title, last="", first="") -%}{% if last != "" %}<li class="{{last}}">{% elif first != "" %}<li class="{{first}}">{% else %}<li>{% endif %}{% if page.title.split(" ")[0] == name %}<a href="{{href}}" class="active">{{title}}</a>{% else %}<a href="{{href}}">{{title}}</a>{% endif %}</li>{%- endmacro %}

<div id="header">
	<h1><a href="/"><img src="/images/logo.png" alt="Connectical" /></a></h1>
	<a href="#outmenu" class="hide">Jump menu</a>
	<ul id="menu">
		{{ menulink('home', '/', 'Home') }}
		{{ menulink('innovation', '/innovation', 'Innovation') }}
		{{ menulink('products', '/products', 'Products') }}
		{{ menulink('services', '/services', 'Services') }}
		{{ menulink('planet', '/planet', 'Planet') }}
		{{ menulink('about', '/about', 'About', last='last-item') }}
	</ul>
</div> <!-- //#header -->
<div id="#outmenu" class="hide"></div>

{{content}}

<div id="footer">
	<ul>
		{{ menulink('home', '/', 'Home',first="first-item") }}
		{{ menulink('innovation', '/innovation', 'Innovation') }}
		{{ menulink('products', '/products', 'Products') }}
		{{ menulink('services', '/services', 'Services') }}
		{{ menulink('planet', '/planet', 'Planet') }}
		{{ menulink('about', '/about', 'About') }}
  </ul>
  <p>Copyright &copy; 2010-2011 Connectical. <a href="http://creativecommons.org/licenses/by-sa/3.0/">Some rights</a> reserved.</p>
  <p class="custom">
	  <a title="Follow us in twitter" class="icon icon_twitter" href="http://twitter.com/connectical"><span class="hide">twitter</span></a>
	  <a title="Follow us in identi.ca" class="icon icon_identica" href="http://identi.ca/group/connectical"><span class="hide">identi.ca</span></a>
	  <a title="Follow us in facebook" class="icon icon_facebook" href="http://l.connectical.com/facebook"><span class="hide">facebook</span></a>
  </p>
</div>
<!-- //#footer -->

</body>
</html>


