body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
q:before,q:after{content:''}
a:focus{outline:0}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:block}
* html .clearfix{height:1%}
fieldset,img,abbr,acronym{border:0}
@font-face{font-family:'GeoSans';src:url(geosanslight_regular.ttf)}
.tipsy{font-size:10px;position:absolute;z-index:100000;padding:5px}
.tipsy-inner{background-color:#000;color:#FFF;max-width:200px;text-align:center;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:5px 8px 4px}
.tipsy-arrow{position:absolute;background:url(data:image/gif;base64,R0lGODlhCQAJAIABAAAAAAAAACH5BAEAAAEALAAAAAAJAAkAAAIRjAOnwIrcDJxvwkplPtchVQAAOw==) no-repeat top left;width:9px;height:5px}
.tipsy-n .tipsy-arrow{top:0;left:50%;margin-left:-4px}
.tipsy-nw .tipsy-arrow{top:0;left:10px}
.tipsy-ne .tipsy-arrow{top:0;right:10px}
.tipsy-s .tipsy-arrow{bottom:0;left:50%;margin-left:-4px;background-position:bottom left}
.tipsy-sw .tipsy-arrow{bottom:0;left:10px;background-position:bottom left}
.tipsy-se .tipsy-arrow{bottom:0;right:10px;background-position:bottom left}
.tipsy-e .tipsy-arrow{top:50%;margin-top:-4px;right:0;width:5px;height:9px;background-position:top right}
.tipsy-w .tipsy-arrow{top:50%;margin-top:-4px;left:0;width:5px;height:9px}
body{font-family:"Bitstream Vera Sans",Arial,Helvetica,sans-serif;background:#fff url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQIAHAAcAAD/2wBDAAMCAgICAgMCAgIDAwMDBAYEBAQEBAgGBgUGCQgKCgkICQkKDA8MCgsOCwkJDRENDg8QEBEQCgwSExIQEw8QEBD/wAALCADIAAUBAREA/8QAFwABAQEBAAAAAAAAAAAAAAAAAwACCf/EABsQAQEAAgMBAAAAAAAAAAAAAAASAQIRMWFB/9oACAEBAAA/AOi8kks8/CSWSSWSxz2SfCSXGvhM65LPhM6tJJJJJP/Z) 0 0 repeat-x}
acronym{border-bottom:1px dotted #000}
.center{text-align:center;margin 0 auto}
.collapse{height:0}
#header{width:75%;height:118px;position:relative;border-bottom:1px solid #ccc;margin:0 auto 35px}
#header h1{font-family:GeoSans, Arial, Helvetica, sans-serif;padding-top:38px;font-weight:400}
#header h1 a{display:block;text-decoration:none;font-size:23px;color:#000;text-transform:uppercase;width:190px;padding:18px}
#header h1 a strong{color:#666}
#header ul{position:absolute;bottom:15px;right:0}
#header ul li,#footer ul li,#submenu li{font-family:'Gill Sans', Futura, 'Helvetica Nueue', Helvetica, sans-serif;letter-spacing:.2em;display:inline}
#header ul li a,#footer ul li a,#submenu li a{display:block;float:left;font-size:x-small;color:#000;text-decoration:none;text-transform:uppercase;border-right:1px solid #ccc;padding:0 15px}
#header ul li.last-item a,#submenu li.last-item a{padding-right:0;border:none}
#footer ul li.first-item a{padding-left:0}
#header p{font-size:13px;position:absolute;top:40px;right:0}
#header p a{color:#000;text-decoration:none;border-left:1px solid #ccc;padding-left:10px;margin-left:5px}
#sub-header{width:75%;border-bottom:1px solid #ccc;margin:0 auto;padding:0 0 1em 0;min-height:200px}
#sub-header h2,#sub-header p{width:55%}
.main-header{background:url(../images/layout/sub_header.jpg) top right no-repeat}
.planet-header{background:url(../images/layout/teamug.jpg) top right no-repeat}
.about-header{background:url(../images/layout/box.jpg) top right no-repeat}
.join-header{background:url(../images/layout/plug.jpg) top right no-repeat}
.services-header{background:url(../images/layout/opener.jpg) top right no-repeat}
.services-lists-header{background:url(../images/layout/boxpost.jpg) top right no-repeat}
.services-confs-header{background:url(../images/layout/clip.jpg) top right no-repeat}
.core-header{background:url(../images/layout/block.jpg) top right no-repeat}
.services-websaving-header{background:url(../images/layout/woodbox.jpg) top right no-repeat}
.innovation-header{background:url(../images/layout/train.jpg) top right no-repeat}
.products-header{background:url(../images/layout/tin.jpg) top right no-repeat}
#sub-header h2{font-family:GeoSans, Arial, Helvetica, sans-serif;font-size:40px;font-weight:700;margin-bottom:12px}
#sub-header p{font-size:16px;line-height:1.6;margin-bottom:15px}
p.continue a{color:#000;font-style:italic !important;text-decoration:none !important}
p.continue a:before {content:'\2192';font-size:20px !important}
p.continue a:hover {text-decoration:underline !important}
#content{width:75%;margin:0 auto}
#main-content{float:left;padding:25px 0 0;width:65%}
#content > ul#services{margin-top:25px}
#services li{float:left;width:30%;margin:0 3% 0 0}
#services li h3{font-size:24px;margin-bottom:3px;min-height:32px;text-transform:capitalize;padding:0 0 0 45px}
#services li h3 a{color:#555}
#services li p{font-size:14px;line-height:1.4;margin-bottom:15px}
#services li.item-1 h3{background:url(../images/sprites.png) 0 0 no-repeat}
#services li.item-2 h3{background:url(../images/sprites.png) 0 -32px no-repeat}
#services li.item-3 h3{background:url(../images/sprites.png) 0 -64px no-repeat}
#services li.item-4 h3{background:url(../images/sprites.png) 0 -96px no-repeat}
#services li.product h3{padding-left:0;text-transform:capitalize!important}
#services li.product{margin-bottom:1.5em}
#sidebar{width:30%;float:right}
#sidebar h4,#sidebar h3{margin-top:1em}
#sidebar ul{padding-left:0.5em}
#sidebar ul li a,#sidebar ol li a{font-size:11px;text-decoration:none;color:#000}
#sidebar ul li a:before {content:'\2192';font-size:20px}
#sidebar ol{list-style:square}
#footer{font-size:12px;border-top:1px solid #ccc;clear:both;width:75%;position:relative;margin:0 auto;padding:20px 0}
#footer ul li,#sidebar ol li{font-size:x-small;padding:0 10px}
#footer p{clear:both;padding-top:15px}
#footer .custom{position:absolute;right:0;top:0}
#footer .custom strong a{font-weight:400;color:#000;text-decoration:none}
#footer .custom span{color:#ccc;padding:0 5px}
#content h1{font-family:GeoSans, Arial, Helvetica, sans-serif;font-size:40px;font-weight:700;margin-bottom:1em;margin-top:0}
#content h2{font-size:18px;font-weight:700;text-transform:uppercase;border-bottom:1px solid #ccc;margin:1em 0;padding:0}
#content h3{font-size:14px;font-weight:700;text-transform:uppercase;margin:.3em 0}
#content a{text-decoration:underline;color:#000}
#content a:hover {text-decoration:none;color:#000}
#header ul a{text-decoration:none}
#content em{font-style:italic}
#content dd{padding-left:5px}
#content ul{margin-left:0;padding-left:0}
#content ul#services{list-style:none}
#content ol li{padding-top:.5em!important}
ol.arabic{list-style:decimal}
.toctree-l2{padding-left:1em!important}
.toctree-l3{padding-left:2em!important}
#otweet{font-size:small;border-radius:5px;min-height:2.5em;position:relative;color:#000;margin:0;padding:0}
.smallpic{width:40px;height:40px;float:left;margin-right:10px}
.gravatar{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;height:40px;width:40px;background:#ccc}
.person{margin-top:0.5em;padding:0}
.person .name{font-weight:700;display:block;margin-bottom:.3em;text-decoration:none!important}
.person .position{display:block;color:#888;font-size:small}
.person p{font-style:italic}
.left{float:left;margin-right:1em}
.right{float:right;margin-left:1em}
.item{font-size:smaller;margin:0.5em 0;padding:0 0 0 24px}
.item p{font-style:italic;margin:0!important;padding:0!important}
.item .tw_meta{color:#888;margin:0;padding:0}
.item .tw_meta a.author{color:#888!important;text-decoration:none!important}
.item .tw_meta span.date{color:#888}
.item .tw_avatar{width:24px;height:24px;float:left;margin-right:6px}
.item ul{list-style:none!important;padding-left:48px!important;color:#888}
.item ul li a{font-family:monospace;margin-right:1em}
.item .tw_title a{text-decoration:none !important}
.item .tw_title a:hover {text-decoration:underline !important}
.item .tw_title{font-weight:700;font-style:none}
.item .tw_code{background:#fff url(../images/icons/planet.png) -24px 0 no-repeat}
.item .tw_blog{background:#fff url(../images/icons/planet.png) 0 0 no-repeat}
.item .tw_tweet{background:#fff url(../images/icons/planet.png) -48px 0 no-repeat}
.product h3{text-transform:none!important;font-size:large;display:inline}
.product .desc{font-size:small;font-style:italic;margin:.3em 0 0 2em}
.product .tw_meta{font-size:small;display:inline;clear:right;margin:0;padding:0}
table.docutils th{border:none;font-weight:700;padding:0;margin:0}
table.docutils{font-size:small;font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;border:none;margin:1em;padding:0}
table.docutils td{margin:0;padding:0 0 0 2em;border:none;font-style:italic}
table.docutils li{margin:0;padding:0;color:#000}
table.docutils em{font-weight:700;color:#000}
.gray{color:#333}
.tiny{font-size:x-small}
.loading{background:#fff url(../images/icons/loading.gif) 50% 50% no-repeat;min-height:32px;min-width:32px}
.area .author{margin-top:-.5em!important;font-size:x-small;color:#333!important}
.area .desc{font-size:small;margin-top:1em}
#header ul li a.active,#footer ul li a.active,#sub-header p strong,#footer .custom strong,#content strong,#content dt,.code a.cd_name{font-weight:700}
#sub-header p.continue,#services li p.continue{margin-bottom:0}
#footer p a{text-decoration:none;color:#000}
#footer p a:hover {text-decoration:underline}
#sub-header p.continue a:hover,#services li p.continue a:hover,#footer ul li a:hover,#footer .custom a:hover,#header ul a:hover,#sidebar ul a:hover,#submenu li a:hover{text-decoration:underline}
h3 a,.code ul li a,.code a,.paper a{text-decoration:none!important}
#content p,#content ol,.product{margin:1em 0}
.post,.small{font-size:small}
.people_block,form.cmxform fieldset ol{margin:0;padding:0}
.tw_meta a.author:hover,.code ul li a:hover,.code a:hover,.product h3 a:hover,.paper a:hover{text-decoration:underline!important}
.clear,form.cmxform fieldset.full100{clear:both}
.hide{display:none !important}
table{margin:1em auto;border-collapse:collapse;text-align:left;font-size:smaller}
th{font-weight:normal;padding:10px 8px;border-bottom:2px solid #000}
td{padding: 9px 8px 0px 8px;color:#333}
.col50l{width:48%;margin-right:1%;float:left}
.col100f{width:99%;clear:both}
.col50r{margin-left:1%;width:48%;float:right;clear:right}
.col50l li:before, .col50r li:before, .col100f li:before, .text-content li:before {content:'\2192';font-size:20px}
.col50l li,.col50r li,.col100f li,.text-content li{padding-left:.3em}
#step{margin:40px 0 40px;padding:0;font-size:smaller}
#step li{padding:3px 0 6px 110px;margin:0 0 20px;list-style: none}
#step h3{font:bold 200%/100% Arial,Helvetica,sans-serif;margin:0 0 5px;color:#666;text-transform:none!important}
#step .item1{background:#fff url(../images/steps/step1.png) no-repeat}
#step .item2{background:#fff url(../images/steps/step2.png) no-repeat}
#step .item3{background:#fff url(../images/steps/step3.png) no-repeat}
#step .item4{background:#fff url(../images/steps/step4.png) no-repeat}
#step .item5{background:#fff url(../images/steps/step5.png) no-repeat}
.clickable{padding:2px}
.clickable:hover {background:#333;border-radius:5px;color:#fff}
.area{min-height:150px;padding-left:220px;margin:1.5em auto 1em auto}
.area_embedded{background:#fff url(../images/innovation/embedded.jpg) 0 0 no-repeat}
.area_cloud{background:#fff url(../images/innovation/cloud.jpg) 0 0 no-repeat}
.area_social{background:#fff url(../images/innovation/social.jpg) 0 0 no-repeat}
.area_security{background:#fff url(../images/innovation/security.jpg) 0 0 no-repeat}
.area .author .chair{color:#000}
.area .more ul{list-style:square;margin:1% 5% !important}
.area .more ul li{margin-top:0.5em}
.area .more ul li a{text-decoration:none !important}
.area .more ul li a:hover {text-decoration:underline !important}
.article {color:#000;font-size:small}
.serv_mailing{background:#fff url(../images/services/mailing.jpg) 0 0 no-repeat}
.serv_saving{background:#fff url(../images/services/saving.jpg) 0 0 no-repeat}
.serv_talks{background:#fff url(../images/services/talks.jpg) 0 0 no-repeat}
.serv_torrent{background:#fff url(../images/services/torrent.jpg) 0 0 no-repeat}
.serv_time{background:#fff url(../images/services/time.jpg) 0 0 no-repeat}
.about_history{background:#fff url(../images/about/history.jpg) 0 0 no-repeat}
.about_people{background:#fff url(../images/about/people.jpg) 0 0 no-repeat}
.about_core{background:#fff url(../images/about/core.jpg) 0 0 no-repeat}
.about_values{background:#fff url(../images/about/values.jpg) 0 0 no-repeat}
.joinbanner{background:#fff url(../images/icons/stickj.png) 0 0 no-repeat;padding-left:80px;min-height:60px;font-size:small !important;color:#888}
.joinbanner a{color:#888!important;text-decoration:underline}
.joinbanner a:hover {color:#000}
.accordion li a {font-weight:700}
p.custom{margin:0!important}
p.custom a{padding:0!important;border:0!important}
.custom .icon,.text .icon{display:block;float:left;width:24px;height:24px}
.text .icon{display:inline!important;float:right!important}
.icon_twitter{background:#fff url(../images/sicons.png) 0 0 no-repeat}
.icon_identica{background:#fff url(../images/sicons.png) 0 -24px no-repeat}
.icon_facebook{background:#fff url(../images/sicons.png) 0 -48px no-repeat}
.icon_linkedin{background:#fff url(../images/sicons.png) 0 -72px no-repeat}
.icon_diigo{background:#fff url(../images/sicons.gif) 0 -96px no-repeat}
